.header {
    background-color: #232f3e;
    width: 100%;
    margin: 0;
    padding: 15px;
    color: #FEBD69;

    h1 {
        margin: 0;
        padding: 0;
    }

    h2 {
        margin: 0;
        padding: 0;
    }

    h3 {
        margin: 0;
        padding: 0;
    }
}

.chatHeader {
    background-color: #f7f7f7;
    color: #232f3e;
    width: 100%;
    margin: 0;
    padding: 30px;
    
    h2 {
        margin: 0;
        padding: 0;
    }
}
