svg {
  border: 1px solid #ccc;
}

.axis .domain {
  stroke: none;
}

.x line {
  stroke: white;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}