#container .title_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#container .title {
  color: white;
  background: #4F4E48;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  block-size: fit-content;
}

#container .scenario_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#container .scenario {
  color: white;
  background: #9F7A49;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  block-size: fit-content;
}

#container .actions {
  margin: 20px;
}

#container .step {
  color: white; 
  background: #D7A972;
  border-radius: 10px; 
  padding: 5px 10px;
  font-weight: bold;
  margin-left: 10px; 
  display: inline-block; /* 使用inline-block以適應內容大小 */
}

#container .function_call {
  background: #4F4E48;
  border-radius: 10px 10px 10px 10px;
  padding: 5px 10px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  block-size: fit-content;
}

#container .function_name {
  color: white;
  font-weight: bold;
  font-size: larger;
}

#container .parameters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
}

#container .parameter {
  color: black;
  background: #F7D9B9;
  border-radius: 20px 20px 20px 20px;
  padding: 5px;
  margin: 5px;
  width: fit-content;
  block-size: fit-content;
}

#container .function_return {
  color: white; /* 改變顏色為白色，以與背景對比 */
  background: #E7BB5E;
  border-radius: 10px; /* 使用相同的圓角半徑 */
  padding: 5px 10px;
  font-weight: bold;
  margin-left: 10px; /* 增加左側邊距，與function_call區分開 */
  display: inline-block; /* 使用inline-block以適應內容大小 */
}


#container .answer_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#container .answer {
  color: black;
  background: lavender ;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  block-size: fit-content;
}
