#container .title_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#container .title {
  color: white;
  background: #4F4E48;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  block-size: fit-content;
}

#container .scenario_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#container .scenario {
  color: white;
  background: #9F7A49;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  block-size: fit-content;
}

#container .actions {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#container .step {
  color: white; 
  background: #D7A972;
  border-radius: 10px; 
  padding: 5px 10px;
  font-weight: bold;
  margin-left: 10px; 
  display: inline-block; /* 使用inline-block以適應內容大小 */
}

#container .thought_block {
  background: #4F4E48;
  border-radius: 10px 10px 10px 10px;
  padding: 5px 10px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  block-size: fit-content;
}

#container .thought {
  color: white;
  font-weight: bold;
  font-size: larger;
}

#container .function_call {
  background: #f6e6cb;
  border-radius: 10px 10px 10px 10px;
  padding: 5px 10px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  block-size: fit-content;
}

#container .function_name {
  color: black;
  font-weight: bold;
  font-size: larger;
}

#container .parameters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#container .parameter {
  color: white;
  background: #9F7A49;
  border-radius: 20px 20px 20px 20px;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  width: fit-content;
  block-size: fit-content;
}

#container .return_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#container .function_return {
  color: black;
  background: #E7BB5E;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  block-size: fit-content;
}


#container .answer_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#container .answer {
  color: black;
  background: lavender ;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  block-size: fit-content;
}
