svg {
  border: 1px solid #ccc;
}

.axis .domain {
  stroke: none;
}

.x line {
  stroke: white;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

/* interactive 詳細資訊視窗設定 */
.tooltip {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  /*避免出現連結或其他預設行為*/
  background: #eee;
  max-width: 200px;
}

.tip-header {
  border-bottom: 2px solid white;
  padding: 0.9rem 1rem;
}

.tip-body {
  padding: 0.2rem 0;
}

h3,
h4 {
  font-size: 0.9rem;
  color: #555;
  margin: 0;
}

h4 {
  font-weight: normal;
}

.tip-info {
  margin: 0;
  padding: 0.3rem 1em;
  font-size: 0.8em;
}

/*偶數元素設定不同背景樣式*/
.tip-info:nth-of-type(even) {
  background: #e0e0e0;
}

.pie-chart-text {
  font-size: 12px;
  text-anchor: middle;
}

.pie-chart-tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  font-size: 14px;
  pointer-events: none;
  opacity: 0;
  white-space: nowrap;
  line-height: 1.2;
  transition: opacity 0.2s ease-in-out;
}

.line-connector {
  fill: none;
  stroke: #555;
  stroke-width: 1;
}

.pie-chart-text {
  font-size: 12px;
}
