.ChatHistory {
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
    // max-height: calc(100vh - (50px + 100px)); /* 設置最大高度 */
    max-height: 310px; /* 設置最大高度 */
    overflow-y: auto; /* 添加垂直滾動條 */
    // /* color: #CEA968 */
}