svg {
  border: 1px solid #ccc;
}

.axis .domain {
  stroke: none;
}

.x line {
  stroke: white;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}
.tooltip,.tooltip1,.erictooltip{
  position :fixed ;
  opacity: 0;
  pointer-events: none ;
  background :#eee;
  max-width:200px;
}
.tip-header,.tip-header1, .eric-tip-header{
  border-bottom:2px solid white ;
  padding : 0.9rem 1rem;

}
.tip-body,.tip-body1{
  padding :0.2rem 0 ;

}
h1,h3{
  font-size:0.9rem;
  color:#555;
  margin: 0;
}
h2,h4,h5{
  font-size:0.5rem;
  color:#555;
  margin: 0;
}
.tip-info{
  margin: 0 ;
  padding :0.3rem 1rem;
  font-size: 0.8rem;
}
.tip-info:nth-of-type(even){
  background:#e0e0e0;
}

.parallel {
  display: flex;
}

.para {
  flex: 1;
  /* border: 1px solid black; */ 
  padding: 10px;
}

nav {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 20px;
}
nav button {
  margin-right: 10px;
}
footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}

#PutSelectHere {
  border: 1px solid black;
}

select {
  font-size: larger;
  width:680px;
  color: gray;
  background-color: lightcyan;
  padding: 10px;
  border: 1px solid black;
}