<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <!-- # ['Credit_History','Gender','Married','Education','Dependents','Self_Employed','Property_Area','LoanAmount_log','TotalIncome_log'] -->
        <h1>客戶基本條件資料輸入</h1>
        <form action="/submit" method="post" enctype="multipart/form-data">
            <label for="Credit_History">本行信用紀錄:</label>
            <input type="radio" id="Credit_History" name="Credit_History" value="1" {{Credit_History_Yes}}><label for="Credit_History_Yes">有</label>
            <input type="radio" id="Credit_History" name="Credit_History" value="0" {{Credit_History_No}}><label for="Credit_History_No">無</label>
            <br><br>
            <label for="Gender">性別:</label>
            <input type="radio" id="Gender" name="Gender" value="1" {{Gender_Male}}><label for="Gender_Male">男</label>
            <input type="radio" id="Gender" name="Gender" value="0" {{Gender_Female}}><label for="Gender_Female">女</label>
            <br><br>
            <label for="Married">婚姻狀態:</label>
            <input type="radio" id="Married" name="Married" value="1" {{Married_Yes}}><label for="Married_Yes">已婚</label>
            <input type="radio" id="Married" name="Married" value="0" {{Married_No}}><label for="Married_No">未婚</label>
            <br><br>
            <label for="Education">教育狀態:</label>
            <input type="radio" id="Education" name="Education" value="0" {{Education_Graduate}}><label for="Education_Graduate">畢業</label>
            <input type="radio" id="Education" name="Education" value="1" {{Education_NotGraduate}}><label for="Education_NotGraduate">肄業/在學中</label>
            <br><br>
            <label for="Dependents">家庭人數:</label>
            <select name="Dependents" id="Dependents">
                <option value="0" {{Dependents_0}}>0</option>
                <option value="1" {{Dependents_1}}>1</option>
                <option value="2" {{Dependents_2}}>2</option>
                <option value="3" {{Dependents_3Plus}}>3+</option>
            </select>
            <br><br>
            <label for="Self_Employed">工作類型:</label>
            <input type="radio" id="Self_Employed" name="Self_Employed" value="0" {{Self_Employed_No}}><label for="Self_Employed_No">上班族</label>
            <input type="radio" id="Self_Employed" name="Self_Employed" value="1" {{Self_Employed_Yes}}><label for="Self_Employed_Yes">接案工作者</label>
            <br><br>
            <label for="Property_Area">房產位置:</label>
            <select name="Property_Area" id="Property_Area">
                <option value="0" {{Property_Area_Rural}}>郊區</option>
                <option value="1" {{Property_Area_Semiurban}}>半市區</option>
                <option value="2" {{Property_Area_Urban}}>市區</option>
            </select>
            <br><br>
            <label for="LoanAmount">借貸金額:(單位-美金千元)</label>
            <input type="text" id="LoanAmount" name="LoanAmount" value="{{LoanAmount}}"><br><br>
            <label for="TotalIncome">每月收入(申請者+共同申請者):(單位-美金)</label>
            <input type="text" id="TotalIncome" name="TotalIncome" value="{{TotalIncome}}"><br><br>
            <input type="submit" value="submit">
        </form>
        <br>
        <div>
            <p>評估結果 : {{prediction}}</p> 
        </div>
    </body>
</html>