body {
  font-weight: bold;
  margin: 2rem;
}

h3 {
  font-weight: 100;
  color: #555;
  margin: 0.4rem 0;
}

svg {
  border: 1px solid #ccc;
}

button {
  outline: none;
  color: #555;
  border-color: #eee;
  background: #fefefe;
  padding: 3px 0px;
  width: 48px;
  text-align: center;
  transition: all 200ms;
}

button:hover {
  background: lightgoldenrodyellow;
}

button:focus {
  background: lightpink;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}