svg {
  border: 1px solid #ccc;
}

.axis .domain {
  stroke: none;
}

.x line {
  stroke: white;
}

/* interactive 詳細資訊視窗設定 */
.tooltip {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  /*避免出現連結或其他預設行為*/
  background: #eee;
  max-width: 200px;
}

.tip-header {
  border-bottom: 2px solid white;
  padding: 0.9rem 1rem;
}

.tip-body {
  padding: 0.2rem 0;
}

h3,
h4 {
  font-size: 0.9rem;
  color: #555;
  margin: 0;
}

h4 {
  font-weight: normal;
}

.tip-info {
  margin: 0;
  padding: 0.3rem 1em;
  font-size: 0.8em;
}

/*偶數元素設定不同背景樣式*/
.tip-info:nth-of-type(even) {
  background: #e0e0e0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #4CAF50;
  /* Green background */
  color: white;
  /* White text */
  border: none;
  /* No border */
  padding: 10px 20px;
  /* Some padding */
  font-size: 16px;
  /* Set a font size */
  cursor: pointer;
  /* Pointer cursor on hover */
  border-radius: 5px;
  /* Rounded corners */
}

/* Change the background color of the active button */
button.active {
  background-color: #007bff;
}

/* Change the hover effect of the button */
button:hover {
  background-color: #3e8e41;
  color: white;
}